@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins';
@import 'bootstrap-italia/src/scss/utilities/focus';

@import 'bootstrap-italia/src/scss/components/back-to-top';

// GLUE CODE NEEDED: icon is a custom element here (bsi-icon)

.back-to-top {
    //caret
    bsi-icon {
      margin: 0;
      position: relative;
      transform: scale(0.75);
      top: 4px;
      &:before {
        margin: 0;
        color: $white;
      }
    }
}

@include media-breakpoint-up(md) {
    /*back to top*/
    .back-to-top {
      width: 56px;
      height: 56px;
      bsi-icon {
        transform: scale(1);
        top: 10px;
      }
    }
}